[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=AppImage Pool
Exec=appimagepool %u
Icon=appimagepool
StartupWMClass=Nyrna
Categories=Utility;
