[Desktop Entry]
Version=1.0
Type=Application
Name=AppImage Pool
Exec=appimagepool
Icon=appimagepool
StartupNotify=false
Terminal=false
StartupWMClass=appimagepool
Categories=Utility;
